#mw-question-select,
#mw-answer-select {
  min-height: auto;
  width: auto;
  background-color:#e0e0d8;
  border:solid 1px #c3c3c3;
  padding: 10px;
  margin: 12px 0;
}

#mw-question-select span,
#mw-answer-select span {
  cursor:pointer;
}

#mw-question-select > .selected,
#mw-answer-select > .selected {
  border:1px solid red;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  padding-left: 4px;
  padding-right: 4px;
}

#mw-question-select > .correct {
  border:1px solid green;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
}

.form-item-tries-mark-answer {
  display: none;
}

.form-item-field-mark-word-answer-und-0-value {
  display: none;
}

#mw-question-circle {
  text-align: center;
}

#mw-question-circle span {
  padding: 0 10px;
}

.mark-word-highlight {
  border-radius: 17px 17px 17px 17px;
  border: 1px solid #e0e0d8;
  color: transparent;
  display: inline-block;
  width: 2px;
  margin-right: 8px;
}

.circle-color-correct {
  background-color: #b4ddb4;
}

.circle-color-wrong {
  background-color: #ff1a00;
}
