.mark_word-question .form-item {
  display: inline;
}

.mark_word-instruction .correct,
.quiz-solution .correct,
.quiz-report .correct {
  /*color: #009900;*/
  border:1px solid #009900;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  padding-left: 4px;
  padding-right: 4px;
}

.quiz-report .incorrect {
  /*color: #FF0000;*/
  border:1px solid #FF0000;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  padding-left: 4px;
  padding-right: 4px;
}
